p {
    color:rgb(251, 251, 251);
    text-align: center;
}

button {
    background:url("images/peixeAzul.jpg");
}

body {
    background:url("images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 35px;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px; /* Add some margin between the items if needed */
}

a {
    color:yellow;
}

.nav-link {
    display: inline-block;
    padding: 6px 12px;
    background-color: #ffffff;
    color: #768b02;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #0056b3;
  }

 .Definition {
    color: black;
    text-shadow: -1px -1px 2px white, 1px -1px 2px white, -1px 1px 2px white, 1px 1px 2px white;
 }

 .uppertext {
    color: black;
    text-shadow: -1px -1px 0.5px white, 1px -1px 0.5px white, -1px 1px 0.5px white, 1px 1px 0.5px white;
 }

 .INDEX {
    margin-left: 35px;
 }